@model AppTyV.Partido

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar partido</h1>

<div>
  <div class="forms">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Lugar)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Lugar)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Hora)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TotalJugadores)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TotalJugadores)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
        </dl>
    </div>
    <h3>Estas seguro?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Vuelve a la lista de partidos</a>
    </form>
</div>
